<app-table-generic 
  title="Gestión de Productos" 
  breadcrumb="Productos"
  addButtonText="Añadir Producto"
  addModalTarget="#modalAddProd"
  [data]="productsFilter"
  [columns]="columns"
  [canCreate]="authService.hasPermission('create_products')"
  [actionTemplate]="prodActions"
  (onAdd)="productEdit = {}"
  (onSearch)="applyFiltersAndOrder($event)">
</app-table-generic>

<ng-template #prodActions let-prod>
  <button *ngIf="authService.hasPermission('update_products')"
    class="btn btn-outline-warning btn-sm rounded-circle shadow-sm p-2"
    (click)="openEditModal(prod)" 
    data-bs-toggle="modal" data-bs-target="#modalEditProd">
    <i class="bi bi-pencil-fill mx-1"></i>
  </button>

  <button *ngIf="authService.hasPermission('delete_products')"
    class="btn btn-sm rounded-circle shadow-sm p-2 border"
    [ngClass]="prod.state_product === 1 ? 'btn-outline-danger' : 'btn-outline-success'"
    (click)="toggleProduct(prod)">
    <i class="bi mx-1" [ngClass]="prod.state_product === 1 ? 'bi-trash-fill' : 'bi-arrow-clockwise'"></i>
  </button>
</ng-template>

<app-modal-add-products [categories]="categories" [subcategories]="subcategories" (onSave)="reloadProducts($event)"></app-modal-add-products>
<app-modal-edit-products [productEdit]="productEdit" [categories]="categories" [subcategories]="subcategories" (onUpdate)="reloadProducts($event)"></app-modal-edit-products>