<app-table-generic 
  title="Gestión de Subcategorías" 
  breadcrumb="Subcategorías"
  addButtonText="Añadir Subcategoría"
  addModalTarget="#modalAddSub"
  [data]="subcategoriesFiltered"
  [columns]="columns"
  [canCreate]="userlogged?.permissions?.includes('create_subcategories')"
  [actionTemplate]="subActions"
  (onAdd)="openAddModal()"
  (onSearch)="applyFiltersAndOrder($event)">
</app-table-generic>

<ng-template #subActions let-sub>
  <button *ngIf="userlogged?.permissions?.includes('update_subcategories')"
    class="btn btn-outline-warning btn-sm rounded-circle shadow-sm p-2"
    (click)="openEditModal(sub)" 
    data-bs-toggle="modal" 
    data-bs-target="#modalEditSub">
    <i class="bi bi-pencil-fill mx-1"></i>
  </button>

  <button *ngIf="userlogged?.permissions?.includes('delete_subcategories')"
    class="btn btn-sm rounded-circle shadow-sm p-2 border"
    [ngClass]="sub.state_subcategory === 1 ? 'btn-outline-danger' : 'btn-outline-success'"
    (click)="toggleSubcategory(sub)">
    <i class="bi mx-1" [ngClass]="sub.state_subcategory === 1 ? 'bi-trash' : 'bi-arrow-clockwise'"></i>
  </button>
</ng-template>

<app-modal-add-subcategories 
  [categories]="categories"
  (onSave)="onSubcategorySaved($event)">
</app-modal-add-subcategories>

<app-modal-edit-subcategories 
  [categories]="categories"
  [subEdit]="selectedSubcategory"
  (onUpdate)="onSubcategorySaved($event)">
</app-modal-edit-subcategories>