<app-table-generic 
  title="Gestión de Categorías" 
  breadcrumb="Categorías"
  addButtonText="Añadir Categoría"
  addModalTarget="#modalCategoria"
  [data]="categoriesFiltered"
  [columns]="columns"
  [canCreate]="authService.hasPermission('create_categories')"
  [actionTemplate]="catActions"
  (onAdd)="openAddModal()"
  (onSearch)="filterCategory($event)">
</app-table-generic>

<ng-template #catActions let-category>
  <button *ngIf="authService.hasPermission('update_categories')"
    class="btn btn-outline-warning btn-sm rounded-circle shadow-sm p-2"
    (click)="openEditModal(category)" data-bs-toggle="modal" data-bs-target="#modalEditarCategoria">
    <i class="bi bi-pencil-fill mx-1"></i>
  </button>

  <button *ngIf="authService.hasPermission('delete_categories')"
    class="btn btn-sm rounded-circle shadow-sm p-2 border"
    [ngClass]="category.state_category === 1 ? 'btn-outline-danger' : 'btn-outline-success'"
    (click)="toggleCategory(category)">
    <i class="bi mx-1" [ngClass]="category.state_category === 1 ? 'bi-trash-fill' : 'bi-arrow-clockwise'"></i>
  </button>
</ng-template>

<app-modal-add-categories [categoryEdit]="selectedCategory" (onSave)="onCategorySaved($event)"></app-modal-add-categories>
<app-modal-edit-categories [categoryEdit]="selectedCategory" (onUpdate)="onCategorySaved($event)"></app-modal-edit-categories>